@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Roboto:wght@100;300;400&display=swap");

/* Global Style */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-font: renner-book, sans-serif;
  --secondary-font: renner-light, sans-serif;
  --body-font: "Dancing Script", cursive;
  --main-font-dark: #503628;
  --secondary-font-bright: #fff;
  --third-font-color: #a5bdb0;
  --accent-color: black;
  --background-color: #f1acba;
}

html {
  font-size: 10px;
  color: var(--main-font-dark);
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font);
  margin: 0;
  font-weight: 300;
}

section {
  padding: 3.9rem 0;
}

img {
  width: 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.6rem;
}

.container {
  width: 100%;
  max-width: 122.5rem;
  margin: 0 auto;
  padding: 0 2.4rem;
  text-align: center;
}

/* Header Style */
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  background: transparent;
  /* background-color: var(--background-color); */
}

.nav {
  height: 8.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-toggle {
  color: var(--secondary-font-bright);
  font-size: 2.5rem;
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  right: 2.5rem;
  cursor: pointer;
  z-index: 1500;
}

.fa-facebook-square,
.fa-instagram-square,
.fa-envelope-square,
.fa-times {
  display: none;
}

.nav-list {
  visibility: hidden;
  list-style: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  font-family: (--secondary-font);
  padding: 4.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 1250;
  transform: translateY(100%);
  transition: transform 0.5s;
}

.open .fa-facebook-square,
.open .fa-instagram-square,
.open .fa-envelope-square,
.open .fa-times {
  display: block;
}

.open .fa-bars {
  display: none;
}

.open .nav-list {
  transform: translateY(0);
  visibility: visible;
}

.nav-item {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.nav-link {
  /* display: block; */
  color: var(--secondary-font-bright);
  text-transform: uppercase;
  font-size: 2.3rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  transition: color 0.2s;
}

.nav-link:hover {
  color: var(--background-color);
}

.nav-sns {
  display: inline-block;
  justify-content: center;
  margin: 0 auto;
}

.nav-icons {
  width: 100px;
  height: 100px;
  color: var(--secondary-font-bright);
  display: inline-flex;
  margin: 0 auto;
}

.navbar-btn {
  display: none;
}

.i {
  color: var(--third-font-color);
}

.logo {
  width: 12rem;
  display: flex;
  padding: 10px 0;
  margin: 0;
}

.hero-img {
  padding-top: 0;
}

.hero-img img {
  object-fit: cover;
}

/* Navigation Ends */

body {
  background-color: var(--background-color);
}

.button {
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  color: #000000;
  height: 3rem;
}

.map-btn {
  text-transform: uppercase;
  border: 1px solid black;
  display: block;
  padding: 4px;
  margin: 5px 0;
  width: 150px;
  height: 3rem;
  font-weight: bolder;
}

.sub-headline {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
}

.info a {
  color: var(--accent-color);
}

.hours-location {
  padding: 2rem;
  display: block;
  line-height: 2rem;
  font-size: 1.5rem;
  font-family: var(--secondary-font);
}

.how-to-find {
  font-size: 1.6rem;
  font-weight: 700;
  display: block;
  padding-bottom: 3rem;
}

.business-info {
  display: block;
  padding-bottom: 5rem;
}

h2,
h3 {
  font-family: var(--body-font);
  padding-bottom: 1.3rem;
}

.hours-location h2 {
  padding-bottom: 3rem;
}

/* footer */
.footer-nav {
  background-color: var(--main-font-dark);
  width: 100%;
  height: 80px;
  display: inline-flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-menu a:hover,
.footer-icons a:hover {
  color: var(--background-color);
  cursor: pointer;
}

.footer-sns {
  margin: 15px 0 0 50px;
  display: flex;
  justify-content: flex-start;
  width: 300px;
}

.footer-icons i {
  font-size: 30px;
  color: var(--secondary-font-bright);
  display: inline-block;
  padding-right: 10px;
}

.footer-link li {
  display: inline-block;
  text-transform: uppercase;
}

.footer-link a {
  margin: 20px 20px 0 0px;
  display: flex;
  justify-content: space-between;
  color: var(--secondary-font-bright);
  font-size: 14px;
  list-style: none;
}

.footer-link:nth-last-child(1) {
  padding-right: 30px;
}

footer p {
  background-color: var(--main-font-dark);
  color: var(--secondary-font-bright);
  text-align: center;
  padding-bottom: 20px;
  font-size: 1.2rem;
  text-transform: uppercase;
}

/* Contact Page Ends*/

/* Form */

form {
  text-align: center;
  /* line-height: px; */
  height: 80%;
  overflow: auto;
  z-index: 99999;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

#burger {
  max-height: 30%;
}

#overlay {
  width: 80%;
  margin: 3% auto;
  height: 800px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 40px;
}

#logo {
  width: 300px;
  display: block;
  margin: 0 auto;
  padding-bottom: 5%;
}

.toppings label,
.cheesy label {
  margin-right: 25px;
}

/* Tablet Screen */
@media screen and (min-width: 770px) {
  header {
    background-color: transparent;
  }

  header.sticky {
    background-color: var(--accent-color);
    opacity: 0.9;
    padding-bottom: 180px;
    height: 150px;
  }

  .hero-img img {
    height: 60rem;
  }

  .menu-toggle {
    display: none;
  }

  .nav-container {
    display: flex;
  }

  .navbar {
    justify-content: space-between;
    padding-bottom: 200px;
  }

  .nav-list {
    visibility: visible;
    display: inline;
    /* justify-content: top; */
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    height: 10%;
    transform: initial;
    transition: initial;
  }

  .nav-list li {
    display: inline-flex;
    flex-direction: row;
    position: relative;
    top: 12rem;
  }
  .nav-link {
    font-size: 1.4rem;
  }

  .logo {
    width: 15rem;
    display: flex;
    padding: 10px 0;
    margin: 0 auto;
  }

  .logo-container {
    height: 0;
  }
}

/* PC Screen */
@media screen and (min-width: 990px) {
  header.sticky {
    background-color: ver(--accent-color);
    opacity: 0.9;
    height: 120px;
    padding: 5px 100px;
  }

  nav.sticky {
    width: 12rem;
    display: flex;
    padding: 5px 0;
    margin: 0;
  }

  nav.sticky ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
  }

  nav.sticky li {
    padding: 0;
    margin-top: -120px;
  }

  nav.sticky .logo {
    width: 95%;
  }

  .navbar {
    justify-content: center;
  }

  header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header ul li {
    position: relative;
    list-style: none;
  }

  header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: var(--secondary-font-bright);
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
  }
  .nav-list {
    height: 10%;
    visibility: visible;
  }
}
